.Header
  .top
    .topTitle
      .topTitle__theme
        大阪環状線
        =icon('fas','subway')
        もちデリ
      .topTitle__search
        = form_with(url: search_articles_path, local: true, method: :get) do |f|
          = f.text_field :keyword, placeholder: "投稿を検索する",class: "topTitle__search__form"
    .userNav
      - if user_signed_in?
        .userNav__btn1
          =link_to "/users/#{current_user.id}", class: "userNav__btn1__link" do
            %p.userNav__btn1__text マイページ
            = image_tag ("btn053_09.png"), class:"user-btn"
        .userNav__btn1
          =link_to destroy_user_session_path, class: "userNav__btn1__link", method: :delete do
            %p.userNav__btn1__text ログアウト
            = image_tag ("btn053_09.png"), class:"user-btn"
      - else
        .userNav__btn1
          =link_to new_user_session_path, class: "userNav__btn1__link" do
            %p.userNav__btn1__text ログイン
            = image_tag ("btn053_09.png"), class:"user-btn"
        .userNav__btn1
          =link_to new_user_registration_path,  class: "userNav__btn1__link" do
            %p.userNav__btn1__text 新規登録
            = image_tag ("btn053_09.png"), class:"user-btn"
      // 念のため、cssボタン作成コード保管
      -# - else
      -#   .Top__UserNav__Btn
      -#     =link_to "ログイン", new_user_session_path, class: "Top__UserNav__Btn--Post"
      -#   .Top__UserNav__Btn
      -#     =link_to "新規登録", new_user_registration_path, class: "Top__UserNav__Btn--Post"

    
  .Area
    .Area__Region
      .Area__Region__Select
        =link_to "全て", "/articles/search"

      .Area__Region__Select
        =link_to "大阪", controller: "articles", action: "index", area_id: 1
      
      .Area__Region__Select
        =link_to "福島", controller: "articles", action: "index", area_id: 2

      .Area__Region__Select
        =link_to "天満", controller: "articles", action: "index", area_id: 3

      .Area__Region__Select
        =link_to "京橋", controller: "articles", action: "index", area_id: 4
      
      .Area__Region__Select
        =link_to "天王寺", controller: "articles", action: "index", area_id: 5

      .Area__Region__Select
        =link_to "西九条", controller: "articles", action: "index", area_id: 6