.Contents
  .Contents__Title
    新規投稿ページ
    .Contentes__Title__Icon
    =link_to root_path do
      =icon('fas','home')

.formContents
  = form_with model: @article,local: true do |f|
    .newArticles
      %h2.newArticles__image
        = f.label :image, class: 'image' do
          = icon('far','image', class: 'icon')
          =f.file_field :image, class: 'hidden'
      %h2.newArticles__restaurant
        .newArticles__restaurant--title
        = f.label :店名
        %span.requireBox
          必須
        .newArticles__restaurant--form
          = f.text_field :restaurant, class: 'restaurant'
      %h2.newArticles__category
        .newArticles__category--title
          = f.label :カテゴリー
          %span.requireBox
            必須
          .categoryWrapper
            .categoryWrapper__box
              = f.collection_select(:category_id, @category_parent_array, :id, :name, {prompt: "---"}, {class: 'categoryWrapper__box--select', id: 'parent_category'})
      %h2.newArticles__instagram
        .newArticles__instagram--title
        = f.label :公式インスタグラムURL
        %span.requireBox
          必須
        .newArticles__instagram--form
          = f.text_field :instagram, class: 'instagram'
      %h2.newArticles__menu
        .newArticles__menu--title
        = f.label :テイクアウトメニュー
        %span.requireBox
          必須
        .newArticles__menu--form
          = f.text_area :menu, class: "menu"
      %h2.newArticles__rule
        .newArticles__rule--title
        = f.label :利用ルール
        %span.requireBox
          必須
        .newArticles__rule--form
          = f.text_area :rule, class: "rule"
      %h2.newArticles__btn
        = f.submit "送信", class: "submit-btn"