.Contents
  .Contents__Title
    新規投稿ページ
  = form_with model: @article,local: true,class:"Container" do |f|
    = f.label :image, class: 'image' do
      =f.file_field :image, class: 'hidden'
    = f.text_field :restaurant, class: 'Container__Restaurant', placeholder: "【エリア名】店名"
    .Constant__Radio
      = f.collection_radio_buttons :area_id, Area.all, :id, :name
    = f.text_field :instagram, class: 'Container__Instagram', placeholder: "Instagram URL"
    = f.text_area :menu, class: "Container__Menu", placeholder: "メニュー"
    = f.text_area :rule, class: "Container__Rule", placeholder: "利用ルール"
    = f.submit "送信", class: "Container__Btn"