.Restaurant
  = @article.restaurant

%ul.ArticleMenu
  %li.ArticleMenu__Icon
    = link_to root_path do
      = icon('fas','home')
  - if user_signed_in? && current_user.id == @article.user_id
    %li.ArticleMenu__UserIcon
      = link_to edit_article_path(@article.id), method: :get do
        = icon('fas','edit')
    %li.ArticleMenu__UserIcon
      = link_to "/articles/#{@article.id}" , method: :delete do
        = icon('fas','trash-alt')

.Article2
  .Article2__Img
    = image_tag @article.image.url, class: "Article2__Img__Image2"
    #like{ id: @article.id }
      -# = render "likes/like"
  
  .Article2__Contents
    .Article2__Contents__Title
      =icon('fas','subway')
      最寄駅
    .Article2__Contents__Show
      = @article.area.name
    %br
    .Article2__Contents__Title
      =icon('fas','shopping-bag')
      テイクアウト メニュー
    .Article2__Contents__Show
      = @article.menu
    %br
    .Article2__Contents__Title
      =icon('fas','info-circle')
      利用ルール
    .Article2__Contents__Show
      = @article.rule